<h2>Produtos</h2>

<!-- estado 1: carregando -->

@if (carregando()) {
  <p>
    <strong>Carregando produtos, aguarde...</strong>
  </p>
}

<!-- estado 2: erro -->

@if (erro()) {
  <p>
    <strong style="color: red;">{{ erro() }}</strong>
  </p>

  <button (click)="carregarProdutos()">
    Tente novamente
  </button>
}

@if (!carregando() && !erro()) {

  <p>
    <strong>Quantidade de produtos: </strong>
    {{ totalprodutos() }}
  </p>

  <section class="grid-produtos">

    @for (item of produtos(); track $index) {

      <app-produto
        [nome]="item.nome"
        [preco]="item.preco"
        (produtoSelecionado)="exibirProduto($event)"
        (produtoAdicionado)="adicionarAoCarrinho($event)"
      >
      </app-produto>

    }

  </section>
}

<hr>

<h2>Carrinho</h2>

@for (item of carrinhoService.itens(); track $index) {

  <p>
    {{ item.nome }} -
    {{ item.preco | precoFormatado }}
  </p>

}

<hr>

<p>
  <strong>Quantidade de itens: </strong>
  {{ carrinhoService.quantidadeItens() }}
</p>

<p>
  <strong>Valor total do carrinho: </strong>
  {{ carrinhoService.totalItens() | precoFormatado }}
</p>