.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 10px;
}
.acoes-carrinho button {
    margin: 10px;
}

.acoes-carrinho {
    text-align: center;
    margin: 25px;
}

.btn-confirmar {
    background-color: #329932;
    color: #fff;
}
.btn-confirmar {
    background-color: #ff3232;
    background-color: #fff;
}