<h2>Checkout</h2>

@if (pedidoFinalizado()) {

    <section class="pedido-finalizado">

        <h3>PEDIDO FINALIZADO COM SUCESSO</h3>

        <p>
            <strong>Código: </strong>
            {{ pedidoFinalizado()?.codigo }}
        </p>

        <p>
            <strong>Cliente: </strong>
            {{ pedidoFinalizado()?.cliente }}
        </p>

        <p>
            <strong>E-mail: </strong>
            {{ pedidoFinalizado()?.email }}
        </p>

        <p>
            <strong>Itens comprados: </strong>
            {{ pedidoFinalizado()?.quantidadeItens }}
        </p>

        <p>
            <strong>Total: </strong>
          {{ pedidoFinalizado()?.total ?? 0 | precoFormatado }}
        </p>

        <button
            mat-raised-button
            color="primary"
            type="button"
            routerLink="/produtos">
            Fazer compras novamente
        </button>

    </section>
}

@if (carrinhoService.carrinhoVazio() && !pedidoFinalizado()) {

    <section class="carrinho-vazio">

        <h3>Seu carrinho está vazio!</h3>

        <p>
            Adicione Produtos antes de finalizar a compra!
        </p>

        <button
            mat-raised-button
            color="primary"
            type="button"
            routerLink="/produtos">
            Ver produtos
        </button>

    </section>

} @else if (!pedidoFinalizado()) {

    <section class="compra-resumo">

        <h3>Resumo da compra</h3>

        <p>
            <strong>Itens do carrinho: </strong>
            {{ carrinhoService.itens().length }}
        </p>

        <p>
            <strong>Total: </strong>
            {{ carrinhoService.totalItens() | precoFormatado }}
        </p>

        <button
            mat-raised-button
            color="primary"
            type="button"
            routerLink="/carrinho">
            Revisar carrinho
        </button>

    </section>

}