<h2>Login</h2>

<p>informe seus dados para autorizar a compra dos produtos</p>

@if(!erroLogin()){
    <p style="color: red;">Não foi possível realizar a login</p>
}

<form [formGroup]="formulario">
    <p><input type="email" formControlName="email" placeholder="E-mail"></p>

    @if(formulario.get('email')?.touched && formulario.get('email')?.invalid){
        @if(formulario.get('email')?.errors?.['required']){
            <small style="color: red;">E-MAIL É OBRIGATÓRIO</small>
        }
    }
    @if(formulario.get('email')?.errors?.['email']){
        <small style="color: red;">E-MAIL INVÁLIDO</small>
    }

    <p><input type="password" formControlName="senha" placeholder="senha"></p>

    @if (formulario.get('senha')?.touched && formulario.get('senha')?.invalid){
         @if (formulario.get('senha')?.errors?.['required']) {
            <small style="color: red;">SENHA É OBRIGATÓRIA</small>
         }
    }
     @if (formulario.get('senha')?.errors?.['minlength']) {
          <small style="color: red;">A SENHA DEVE CONTER NO MÍNIMO 6 CARACTERES</small>
  }

    <button type="button" (click)="entrar()" [disabled]="formulario.invalid">Entar</button>
</form>